.dog-card {
  border: 1px dashed #a2b7f5;
  margin: 5px;
  padding: 20px;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

img {
  height: 250px;
  border-radius: 5px;
}

.further-info-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.p-category {
  font-weight: bolder;
  color: #1149f2;
}

.dog-title {
  font-size: 2.5rem;
}
